@model Data_Vizualizer.Models.UserTitles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTitles </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<h4>Plot:-</h4>
<img src="../../Content/Uploads/@(User.Identity.Name)/@(Model.Type)/@(Model.Title).png" onerror="this.src='../../Content/profile.png';" class="rounded" alt="profile photo" style="width:1000px;height:400px;" />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
