@using System.Data
@{
    /**/

    ViewBag.Title = "Plot";
}
<style type="text/css">
    /* Generic Styling, for Desktops/Laptops */
    body {
        background-color: white;
    }

    form button:hover {
        background: #149174;
        color: #0C5645;
    }

    form button:active {
        border: 0;
    }

    button {
        margin: 0;
        color: #fff;
        background: #16a085;
        border: none;
        width: 300px;
        height: 35px;
        margin-top: 10px;
        margin-left: 90px;
        border-radius: 4px;
        border-bottom: 4px solid #117A60;
        transition: all .2s ease;
        outline: none;
    }

    #b2 {
        margin-top: 290px;
    }

    #t2 {
        width: 100%;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 150px;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
            /*
     Label the data
     */
            td:before {
                content: attr(data-title);
            }
    }
</style>

<h2>Plot</h2>

<form action="/Main/Plot" method="post">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" name="schart" id="ChartSelection">
            <option value="Scatter plot">Scatter plot</option>
            <option value="Bar graph">Bar graph</option>
            <option value="Double Scatter plot">Double Scatter plot</option>
            <option value="Pie chart">Pie chart</option>
            <option value="Boxplot">Boxplot</option>
            <option value="Spline area">Spline Area Chart</option>
            <option value="3-D scatter plot">3-D Scatter plot</option>
            <option value="Histogram">Histogram</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary" id="subButton">Submit</button>

</form>

<form action="/Main/Description" method="get">
    <input type="text" value="Plot" name="p1" hidden>
    <button type="submit" class="btn btn-primary" id="b1">Description</button>
</form>
<form action="/Main/Correlation" method="get">
    <button type="submit" class="btn btn-primary" id="b1">Correlation</button>
</form>
<form action="/Main/Pca" method="get">
    <button type="submit" class="btn btn-primary" id="b1">Principal Component Analysis(PCA)</button>
</form>
<div>
    <table>

        @if (ViewBag.Data != null)
        {
            <thead>

                @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                {
                <th>@column.ColumnName.ToUpper()</th>


            }
                </thead>
                if ((ViewBag.Data as System.Data.DataTable).Rows.Count > 0)
                {
                    foreach (DataRow dr in (ViewBag.Data as System.Data.DataTable).Rows)
                    {

                        <tr>

                            @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                            {
                                <td data-title='@column.ColumnName'>

                                    @dr[column].ToString()&nbsp;
                                </td>
                            }




                        </tr>

                    }

                }
                else
                {
                    int count = (ViewBag.Data as System.Data.DataTable).Columns.Count;
                    <tr>

                        <td colspan='@count' style="color:red;">

                            No Data Found.
                        </td>



                    </tr>

                }

            }
            else
            {
                if (ViewBag.Error != null)
                {
                    <tr>
                        <td style="color:red;">

                            @(ViewBag.Error != null ? ViewBag.Error.ToString() : "")
                        </td>
                    </tr>
                }
            }
    </table>
    <table id="t2">
        @if (@ViewBag.cerr != null && @ViewBag.cerr)
        {
            <tr>
                <th>@ViewBag.cerrMessage</th>
                @foreach (var item in ViewBag.celist)
                {
                    <td style="color:red;">@item</td>
                }
            </tr>
        }

        @if (@ViewBag.dterr != null && @ViewBag.dterr)
        {
            <tr>
                <th>@ViewBag.dterrMessage</th>
                @foreach (var item in ViewBag.dtelist)
                {
                    <td style="color:red;">@(item[0] + 1) @(item[1] + 1)</td>
                }
            </tr>
        }

    </table>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>