
@{
    ViewBag.Title = "Index";

}
@Scripts.Render("~/bundles/jquery")

<style type="text/css">
    /* Generic Styling, for Desktops/Laptops */


    #drag_drop_form {
        position: relative;
        top: 15%;
        left: 30%;
        width: 500px;
        height: 200px;
        border: 4px dashed black;
        margin-bottom: 100px;
    }

        #drag_drop_form p {
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 170px;
            color: black;
            font-family: Arial;
        }

        #drag_drop_form input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
        }

        #drag_drop_form button {
            margin-bottom: 30px;
            color: #fff;
            background: #16a085;
            border: none;
            width: 300px;
            height: 35px;
            margin-top: 10px;
            margin-left: 90px;
            border-radius: 4px;
            border-bottom: 4px solid #117A60;
            transition: all .2s ease;
            outline: none;
        }

            #drag_drop_form button:hover {
                background: #149174;
                color: #0C5645;
            }

            #drag_drop_form button:active {
                border: 0;
            }

        #drag_drop_form button {
            margin: 0;
            color: #fff;
            background: #16a085;
            border: none;
            width: 300px;
            height: 35px;
            margin-top: 10px;
            margin-left: 90px;
            border-radius: 4px;
            border-bottom: 4px solid #117A60;
            transition: all .2s ease;
            outline: none;
        }

        #drag_drop_form #b2 {
            margin-top: 290px;
        }

        #drag_drop_form #t2 {
            width: 100%;
            margin-top: 20px;
        }

        #drag_drop_form table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 300px;
        }
        /* Zebra striping */
        #drag_drop_form tr:nth-of-type(odd) {
            background: #eee;
        }

        #drag_drop_form th {
            background: #333;
            color: white;
            font-weight: bold;
        }

        #drag_drop_form td, #drag_drop_form th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }
    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #drag_drop_form table, #drag_drop_form thead, #drag_drop_form tbody, #drag_drop_form th, #drag_drop_form td, #drag_drop_form tr {
            display: block;
        }
            /* Hide table headers (but not display: none;, for accessibility) */
            #drag_drop_form thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        #drag_drop_form tr {
            border: 1px solid #ccc;
        }

        #drag_drop_form td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            #drag_drop_form td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }
            /*
     Label the data
     */
            #drag_drop_form td:before {
                content: attr(data-title);
            }
    }
</style>


<h2>Index</h2>


<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Input Options</label>
        </div>
        <select class="custom-select" id="form_selector">

            <option value="1" selected>Paste Data</option>
            <option value="2">Drag and Drop</option>
        </select>
    </div>
</form>



<form action="/Main/Index" method="post" id="write_form">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" name="data" id="exampleFormControlTextarea1" rows="10">@ViewBag.YD</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



<form action="/Main/FileUpload" id="drag_drop_form" method="POST" enctype="multipart/form-data" style="display:none">
    <input type="file" name="FileUpload1" id="FileUpload1" multiple>
    <p>Drag your files here or click in this area.</p>
    <button type="submit" id="b1">Upload</button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("111111")
        
        $('form input').change(function () {
            $('form p').text(this.files.length + " file(s) selected");
        });
        $('#form_selector').change(function () {
            console.log("logging")
            if ($("#form_selector").find(":selected").text() == "Paste Data") {
                $("#drag_drop_form").hide();
                $("#write_form").show();
            }
            else {
                $("#write_form").hide();
                $("#drag_drop_form").show();
            }
        });
        


    });
</script>

@if (ViewBag.YD != null)
{
    <script type="text/javascript">
        console.log("mukasd");
        document.getElementById("exampleFormControlTextarea1").value = @ViewBag.YD;
    </script>

}




<div>
    @if (@ViewBag.cerr != null && @ViewBag.cerr)
    {
        <h2>@ViewBag.cerrMessage</h2>
        foreach (var item in ViewBag.celist)
        {
            <p>@item</p>
        }
    }

</div>


<div>
    @if (@ViewBag.dterr != null && @ViewBag.dterr)
    {
        <h2>@ViewBag.dterrMessage</h2>
        foreach (var item in ViewBag.dtelist)
        {
            <p>@item[0] @(item[1] + 1)</p>
        }
    }

</div>
<!--<button class="btn btn-danger">hello</button>-->
<!--
   <div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

-->
<!--CHART PLOTTING-->
<!--
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
        zoomEnabled: true,
        title: {
            text: "Correlation b/w Height & Pulmonary Dead Space in Children",
            fontSize: 20
        },
        subtitles: [{
            text: "Anatomical dead space is that portion of the airways to lungs where gaseous exchange is not possible.",
            fontSize: 13
        }],
        axisX: {
            title: "Height of Children (in cm)",
            titleFontSize: 13
        },
        axisY: {
            title: "Anatomical Dead Space (in ml)",
            titleFontSize: 13
        },
        data: [{
            type: "scatter",
            toolTipContent: "<b>Height: </b>{x} cm<br/><b>ADS: </b> {y} ml",
            dataPoints: @Html.Raw(ViewBag.DataPoints)
        }]
    });
    chart.render();

}
</script>
-->
<!--CHART PLOTTING ENDS-->